*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    /* outline: 1px solid red; */
}

header, main{
    background-color: white;
    padding: 3rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

input{
    width: 30%;
    height: 30%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 2px solid #07c5ff;
}

h1, h2 ,h3{
    font-weight: bold;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1rem;
}

.FAQ{
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #07c5ff;
    border-radius: 0.5rem;

    & p{
        margin-top: 0.5rem;
    }
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: #07c5ff;

    font-weight: bold;
}