*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, main{
    background-color: white;
    padding: 3rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

input{
    width: 30%;
    height: 30%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
}

h1, h2 ,h3{
    font-weight: bold;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
}

.FAQ{
    margin-bottom: 2rem;

    & p{
        margin-top: 0.5rem;
    }
}